*{
    margin: 0px auto;
    padding: 0px auto;
}
html,body{
    position: relative;
    height: 100%;
    background-color:yellow;
}

#container{
    min-height: 100%;
    position: relative;
}

/*header*/

.header{
    margin: 0%;
}

.nav .nav-item{
    margin-inline: 10px;
}

/*body*/

.content{
    padding: 10px;
}

/*footer*/

.footer{
    width: 100%;
    background:#212529!important;
    color:rgb(40,78,94);
    position: absolute;
    bottom: 0px;
}

.footer .content{
    margin: 0px;
    height: 35px;
}

.footer h5{
    font-size: 15px;
}